
#j_openLight,#j_closeLight{
    border: 1px solid #ccc;
    width: 32px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
#img_s{
    position: absolute;
}



/*sign部分开始*/


.signLogo {
    width: 230px;
    height: 86px;
    margin-top: 28px;
    text-indent: -999px;
    background: url("../images/register/sign-uptp_02.png") no-repeat;
    cursor: pointer;
}
.signLogr {
    width: 117px;
    height: 36px;
    margin: 45px 0px 0px 20px;
    font: 24px/36px "微软雅黑";
    text-align: center;
    padding-left: 15px;
    border-left: 1px solid #eeeeee;
}
.signTop {
    width: 125px;
    height: 13px;
    margin-top: 73px;
    font-family: "微软雅黑";
}
.signTop  a{
    padding: 0 5px 0 3px;
}
/*sign部分结束*/

/*center部分开始*/
.center  {
    padding-top: 15px;
}
.center .centbox {
    height: 357px;
    border: 1px solid #e2e2e2;
    padding: 43px 41px 27px 28px;
}
.centbox-left {
    width: 557px;
    float: left;
}
.cent-text {
    height: 31px;
    line-height: 31px;
    font-size: 18px;
    color: #a9a9a9;
}
.cent-form {
    padding-top: 35px;
    height: 282px;
    width: 610px;
}
.form-boxs {
    height: 38px;
    margin-bottom: 17px;
    vertical-align: middle;
}
.cent-form .form-tex {
    font-size: 16px;
    float: left;
    height: 32px;
    width: 85px;
    text-align: right;
    line-height: 32px;
}
.form-boxs .form-itp {
    float: left;
    height: 32px;
    width: 196px;
    border: 1px solid #bdbdbd;
    padding: 2px 2px 2px 5px;

}
.form-boxs span{
    display: inline-block;
    height:38px;
    line-height: 38px;
    padding-left: 25px;
}
.falses {
    background: url("../images/register/login_10.gif") no-repeat 2px 8px;
    color: #E62044;

}
.trues {
    background: url("../images/register/login_07.gif") no-repeat 2px 8px;
    color: #1188D3;
}

.cent-form .form-bar {
    margin-left: 85px;
    position: relative;
}
.form-bar div{
    background: url("../images/register/login_13.gif") no-repeat;
    height: 15px;
    width: 180px;
}
.form-bar span {
    display: inline-block;
    padding: 5px 0 0 24px;
}
.num1 {
    position: absolute;
    height: 8px;
    width: 52px;
    top: 4px;
    background-color: red;
    left: 4px;
}
.num2{
    position: absolute;
    height: 8px;
    width: 55px;
    top: 4px;
    background-color: #05ff00;
    left: 61px;
}
.num3{
    position: absolute;
    height: 8px;
    width: 52px;
    top: 4px;
    background-color: #0714ff;
    left: 119px;
}




.form-tiaokuan {
    margin-left: 85px;
    margin-top: 10px;
}
.form-tiaokuan a {
    color: rgba(74, 90, 255, 0.98);
}
.form-last {
    margin-left: 85px;
    margin-top: 10px;
}
.form-last input {
    width: 204px;
    height: 43px;
    color: #ffffff;
    text-align: center;
    background-color: #C81623;
    font-size: 16px;
    cursor: pointer;
}
.form-last input:hover {
    background-color: #c80006;
}
.centbox-right {
    float: right;
    height: 330px;
    border-left: 1px solid #e1e1e1;
    padding-left: 29px;

}
.centerbox-a {
    margin: 35px 0px;
    line-height: 28px;
}
.centerbox-b {
    margin-top: 12px;
}

.str1 {

}

/*center部分结束*/



/*bottom部分开始*/
.foot-box {
    margin-top: 35px;
    text-align: center;
    color: #999;
}
.foot-box a {
    margin: 0 5px;
}
.foot-box a:hover {
    text-decoration: underline;
}


/*bottom部分结束*/